:root {
    --CardBacgkgroundColor: #ddd;
    --ImdbBackgroundColor: rgba(242,139,2,1);
    --Boxshadow: rgba(0,0,0,.75);
}

.Card {
    background-color: var(--CardBacgkgroundColor);
    box-shadow: 0 5px 25px 0 var(--Boxshadow);
    width: 200px;
    height: 300px;
    position: relative;

    & > .-Title {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        line-height: 45px;
        color: #fff;
    }
}

.Imdb {
    background-color: var(--ImdbBackgroundColor);
    box-shadow: 0 5px 25px 0 var(--Boxshadow);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    bottom: 25px;
    right: -22.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
    color: #fff;
}